* {
    margin: 0;
    padding: 0;
    box-sizing:0;
    font-family: "Inter", sans-serif; 
}

:root {
    font-size: 62.5%;

    --background-primary: #F4F5FB;
    --background-secondary: #fff;
    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #c93847;
    --content-primary: #080b12;
    --content-secondary: #374151;
    --content-tertiary: #9ca3af;
    --always-white: #fff;
    --border-primary: #d1d5db;
    --border-hover: #b9c2d0; 

}

body {
    font-size: 1.6rem;
    padding: 3.2rem;
    background: var(--background-primary);
}

header {
    margin-bottom: 4.4rem;
    max-width: 62.7rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: start;

    img {
    width: 15.4rem;
    margin-inline: auto;
    margin-bottom: 3rem;
}
}

